

.game-window-holder{
    background: red;
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
}



.top-half-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: purple;
}

.bottom-half-container{
    width: 100%;
    height: 100%;
    background: green;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.current-kanji{
    background:lightcoral;
    width: 16%;
    height: 100%;
    margin: 0px;
    margin-top: 10px;
}

.player-holder{
    background: purple;
    width: 30%;
    height: 80%;
}

.enemy-holder{
    background: blue;
    width: 30%;
    height: 80%;
}